
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{ background-color: rgb(18, 227, 84);



}
.logo{
    text-align: center;

}
body{
    font-family: 'Quicksand', sans-serif;
}

.card-product > img{
    width: 20rem;
    height: 20rem;
    border-radius: 1rem;
    object-fit: contain;
    text-align: center;
}

.info-product{
    width: 20rem;
    height: 15rem;
    border-radius: 1rem;
    background-color: aqua;
    text-align: center;
}